* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}

h1{
font-size:3em;
}

.thirdp{
    color: yellow;
}

h2{
    text-transform: uppercase;
}

.olgreen{
    background-color: green;
}

.olblue{
    border: 2px solid blue;
}


section img{
    height: 20vh;
    width: 20vh;
    border-radius: 100px;
}

img+ul{
    list-style-type: none;
}

.lastp{
    font-weight: bold;
    font-size: 19px;
    color: black;
    margin-left: 170px;
}
